if theme.disqus_username && theme.disqus_proxy
  #disqus_thread
  #disqus_proxy_thread
  script.
    window.disqusProxy = {
      username: '#{theme.disqus_username}',
      server: '#{theme.disqus_proxy.server}',
      port: '#{theme.disqus_proxy.port}',
      defaultAvatar: '#{theme.disqus_proxy.default_avatar}',
      adminAvatar: '#{theme.disqus_proxy.admin_avatar}',
      identifier: "#{page.path}"
    };
    window.disqus_config = function () {
      this.page.url = "#{page.permalink}";
      this.page.identifier = "#{page.path}";
    };
    window.onload = function () {
      var s = document.createElement('script');
      s.src = '#{theme.disqus_proxy.script_path}';
      s.async = true;
      document.body.appendChild(s);
    };
  link(rel="stylesheet" href=theme.disqus_proxy.css_path)

if theme.disqus_username && !theme.disqus_proxy
  #disqus_thread
  script.
    var disqus_config = function () {
      this.page.url = "#{page.permalink}";
      this.page.identifier = "#{page.path}";
    };

    (function () {
      var d = document, s = d.createElement('script');
      s.src = 'https://#{theme.disqus_username}.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
    })();
