mixin directory()
  button.toggle.expand
    span.item1
    span.item2
    span.item3
  - var dir = toc(page.content)
  - var hideDir = page.directory == false
  div.directory.hide
    != dir || '此文章未包含目录'
  script.
    var toggle = document.querySelector('.toggle')
    toggle.addEventListener('click', function () {
      this.classList.toggle('expand')
      document.querySelector('.directory').classList.toggle('hide')
      document.querySelector('.post').classList.toggle('post-expand')
    })
  if !hideDir && dir
    script setTimeout(document.body.click.bind(toggle), 300)

mixin recentPosts()
  if site.posts.length > 0
    .recent-posts.recent-posts-hide
      h1 RECENT...
      each post in site.posts.sort('date', -1).limit(10).toArray()
        .recent-posts-item
          a(href=config.root + post.path)= post.title
          if post.date
            time(datetime=post.date.toJSON())= date(post.date, date_format)
      div.media
        each medium in theme.media
          - var icon=medium.icon
          a(href=medium.url target='_blank')
            i(class='fa fa-fw fa-' + icon)
            span= medium.text
    script.
      setTimeout(function () {
        document.querySelector('.recent-posts').classList.remove('recent-posts-hide')
      }, 200)

